{% extends 'base.html.twig' %}

{% block title %}Карта рекламных конструкций{% endblock %}

{% block body %}
    <div
        id="map-app"
        data-filters-url="{{ path('api_filters') }}"
        data-advertisements-url="{{ path('api_advertisements_list') }}"
        data-orders-url="{{ path('api_orders_create') }}"
        data-is-authenticated="{{ app.user ? '1' : '0' }}"
        data-user-id="{{ app.user ? app.user.id : '' }}"
        data-user-name="{{ app.user ? (app.user.firstName ~ ' ' ~ (app.user.lastName ?? ''))|trim : '' }}"
        data-user-phone="{{ app.user ? app.user.phone : '' }}"
        data-user-email="{{ app.user ? app.user.userIdentifier : '' }}"
    >
        <div id="initial-spinner" class="flex min-h-[60vh] items-center justify-center">
            <div class="text-center text-gray-600">
                <div class="mx-auto mb-3 h-10 w-10 animate-spin rounded-full border-4 border-red-200 border-t-red-600"></div>
                <p>Загрузка карты...</p>
            </div>
        </div>
    </div>
{% endblock %}
